
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  padding: 4px;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  width: 500px;
  max-width: 100vp;
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #3e8e41;
  text-decoration: underline;
}

.navbar-nav {
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  display: flex;
  align-items: center; /* Align children (including .navbar-right) in the middle */
  justify-content: space-between; /* Space out left and right navbars */
}

.navbar-nav.navbar-right {
  display: flex;
  align-items: center;
  padding: 4px;
}

.navbar-nav.navbar-right > li > a {
  padding: 1px 1px;
  display: flex;
  align-items: center;
}

select#file-select {
  margin-left: 5px;
  margin-right: 10px;
}

select#subset {
  margin-left: 3px;
  margin-right: 7px;
}

p {
  text-align: justify;
}

.gene-summary {
  text-align: justify;
}

.dataTables_length {
    height: 30px;
}

.dataTables_length select {
    height: 27px;
}

.dataTables_filter {
    height: 30px;
}

.dataTables_filter input {
    width: 125px;
    height: 27px;
}